@import '../../node_modules/normalize.css/normalize.css';
@import './extra-normalize.css';

body {
  background-color: #F9F0EB;
  color: #111111;
  -webkit-font-smoothing: antialiased;
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
}
